# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [3]:
import pandas as pd
import numpy as np

# seu código aqui
dados = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]

temperatura_termica = pd.Series(data=dados)
temperatura_termica

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [4]:
import pandas as pd
import numpy as np

# seu código aqui
dados = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]
indice = [1900, 1920, 1940, 1960, 1980, 2000, 2020]

temperatura_termica = pd.Series(data=dados, index=indice)
temperatura_termica

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [12]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui

temp_termica = pd.Series(dic_temperaturas)
temp_termica

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [28]:
arr = np.random.normal(100, 10, (20,3))
print(arr)
# seu código aqui

temp = pd.DataFrame(arr, columns=['col1', 'col2', 'col3'])
temp

[[ 99.89260152 112.7651682  113.10301178]
 [105.76987058  83.42103183 106.260702  ]
 [112.2721623  118.72634468  99.04011823]
 [104.97757349 101.74793277 103.05603844]
 [ 92.34481878 106.55570789  95.57670095]
 [ 81.15600323  89.5407344   97.38159675]
 [ 97.98906418  87.20288956 102.4851015 ]
 [ 95.82515188  80.17544512  95.35672052]
 [104.09473885 104.25576621  92.6038067 ]
 [ 96.61244509 107.38479702 100.42324106]
 [103.63189147 111.65944692  93.94315167]
 [107.38810069  98.88342079 110.21824527]
 [105.13638125  98.30695079 103.89026564]
 [103.15115984  87.50540957  93.39005664]
 [111.66038869  96.97157004 104.17297678]
 [108.76960371  94.52844993  91.92505098]
 [110.83327091  88.35799324 106.97033579]
 [102.66176804  83.12756202  91.98787175]
 [ 73.984063   103.09711355  99.79382536]
 [ 82.52012516  83.96294429  94.69690619]]

          col1        col2        col3
0    99.892602  112.765168  113.103012
1   105.769871   83.421032  106.260702
2   112.272162  118.726345   99.040118
3   104.977573  101.747933  103.056038
4    92.344819  106.555708   95.576701
5    81.156003   89.540734   97.381597
6    97.989064   87.202890  102.485102
7    95.825152   80.175445   95.356721
8   104.094739  104.255766   92.603807
9    96.612445  107.384797  100.423241
10  103.631891  111.659447   93.943152
11  107.388101   98.883421  110.218245
12  105.136381   98.306951  103.890266
13  103.151160   87.505410   93.390057
14  111.660389   96.971570  104.172977
15  108.769604   94.528450   91.925051
16  110.833271   88.357993  106.970336
17  102.661768   83.127562   91.987872
18   73.984063  103.097114   99.793825
19   82.520125   83.962944   94.696906

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [29]:
#seu código aqui
arr = np.random.normal(100, 10, (20,3))
print(arr)
# seu código aqui

temp = pd.DataFrame(arr, columns=['x1', 'x2', 'x3'])
temp

[[105.25812505  85.86873309 105.84906644]
 [ 98.20065197 111.43758228  76.04604035]
 [ 83.6728659  112.74409984  98.06463475]
 [102.7485154   96.58534133 106.62029653]
 [112.66327129  90.21827589  99.4274861 ]
 [ 91.74493583 107.43981312  84.98977573]
 [105.51597474  94.22397827  74.46719845]
 [104.3811933   80.75795732 107.77704983]
 [ 72.21595586  98.65222969  86.6197918 ]
 [ 95.8675911  107.16097364 104.89614768]
 [ 91.27861373 103.48617351 105.5904962 ]
 [ 72.76030321 114.41935474 107.08468421]
 [112.81836725 102.39128363 126.61315323]
 [ 95.18580487  96.7284622  105.79993372]
 [ 80.65621387  93.00283953 116.10446523]
 [109.26738039 100.47141699 115.06202788]
 [ 86.26178239  96.03440006 100.54985085]
 [101.71129014 104.19319585 105.7352365 ]
 [112.54269608  94.32485996 117.4796536 ]
 [ 99.7402342   88.91642016 118.23686042]]

            x1          x2          x3
0   105.258125   85.868733  105.849066
1    98.200652  111.437582   76.046040
2    83.672866  112.744100   98.064635
3   102.748515   96.585341  106.620297
4   112.663271   90.218276   99.427486
5    91.744936  107.439813   84.989776
6   105.515975   94.223978   74.467198
7   104.381193   80.757957  107.777050
8    72.215956   98.652230   86.619792
9    95.867591  107.160974  104.896148
10   91.278614  103.486174  105.590496
11   72.760303  114.419355  107.084684
12  112.818367  102.391284  126.613153
13   95.185805   96.728462  105.799934
14   80.656214   93.002840  116.104465
15  109.267380  100.471417  115.062028
16   86.261782   96.034400  100.549851
17  101.711290  104.193196  105.735237
18  112.542696   94.324860  117.479654
19   99.740234   88.916420  118.236860

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [32]:
# seu código aqui
temp['media'] = (temp['x1'] + temp['x2'] + temp['x3']) / 3
temp

            x1          x2          x3       media
0   105.258125   85.868733  105.849066   98.991975
1    98.200652  111.437582   76.046040   95.228092
2    83.672866  112.744100   98.064635   98.160533
3   102.748515   96.585341  106.620297  101.984718
4   112.663271   90.218276   99.427486  100.769678
5    91.744936  107.439813   84.989776   94.724842
6   105.515975   94.223978   74.467198   91.402384
7   104.381193   80.757957  107.777050   97.638733
8    72.215956   98.652230   86.619792   85.829326
9    95.867591  107.160974  104.896148  102.641571
10   91.278614  103.486174  105.590496  100.118428
11   72.760303  114.419355  107.084684   98.088114
12  112.818367  102.391284  126.613153  113.940935
13   95.185805   96.728462  105.799934   99.238067
14   80.656214   93.002840  116.104465   96.587840
15  109.267380  100.471417  115.062028  108.266942
16   86.261782   96.034400  100.549851   94.282011
17  101.711290  104.193196  105.735237  103.879907
18  112.542696   94.324860  117.479654  108.115737
19   99.740234   88.916420  118.236860  102.297838

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [34]:
# seu código aqui

temp['np_log'] = np.log((temp['x1'] + temp['x2'] + temp['x3']) / 3)
temp

            x1          x2          x3       media    np_log
0   105.258125   85.868733  105.849066   98.991975  4.595039
1    98.200652  111.437582   76.046040   95.228092  4.556275
2    83.672866  112.744100   98.064635   98.160533  4.586604
3   102.748515   96.585341  106.620297  101.984718  4.624823
4   112.663271   90.218276   99.427486  100.769678  4.612837
5    91.744936  107.439813   84.989776   94.724842  4.550976
6   105.515975   94.223978   74.467198   91.402384  4.515272
7   104.381193   80.757957  107.777050   97.638733  4.581274
8    72.215956   98.652230   86.619792   85.829326  4.452361
9    95.867591  107.160974  104.896148  102.641571  4.631243
10   91.278614  103.486174  105.590496  100.118428  4.606354
11   72.760303  114.419355  107.084684   98.088114  4.585866
12  112.818367  102.391284  126.613153  113.940935  4.735680
13   95.185805   96.728462  105.799934   99.238067  4.597522
14   80.656214   93.002840  116.104465   96.587840  4.570453
15  109.267380  100.471417  115.062028  108.266942  4.684600
16   86.261782   96.034400  100.549851   94.282011  4.546290
17  101.711290  104.193196  105.735237  103.879907  4.643235
18  112.542696   94.324860  117.479654  108.115737  4.683202
19   99.740234   88.916420  118.236860  102.297838  4.627889